@media screen and (min-width: 990px) {
  body {
    width: 100%;
    height: 90%;
  }

  header {
    height: 10%;
    padding-left: 33rem;
    padding-top: 1rem;

  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .descriptionContainer {
    height: 90%;
    width: 100%;
    margin-left: 2rem;
    grid-area: 1 / 1 / 3 / 2;
    background-size: 90%;
  }

  .description {
    font-size: 1.2rem;
  }

  .aside {
    height: 100%;
    grid-area: 1 / 2 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .randomContainer {
    height: 40%;
  }

  #randomBtn {
    font-size: 1.15rem;
    width: 18rem;
    height: 3.5rem;
    border-radius: 0.75rem;
  }

  article {
    width: 40rem;
    height: 8rem;
    padding: 1rem;
    display: block; 
    display: flex;
    align-items: center;
    
  }

  .randomCuriousFact,
  li {
    font-size: 1.5rem;
  }

  .imageContainer {
    padding: 3rem;
    background-position: cover;
    background-size: 10rem;
  }

  .favoritesHeadline {
    font-size: 1.15rem;
  }

  footer {
    height: 10%;
    
  }
}
