@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Caveat", cursive;
  background-color: RGB(206, 235, 199);
  width: 100vw;
  height: 100vh;
}

header {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  padding: 1rem;
}

.logo {
  width: 8.125rem;
  height: 2.3rem;
  border-radius: 0.3rem;
}

main {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descriptionContainer {
}

h1 {
  text-align: center;
}

.cloud {
}

.description {
}

footer {
  height: 10%;
  text-align: center;
}
