@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("style-desktop.css");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Caveat", cursive;
}

header {
  margin: 1rem;
}

.logo {
  width: 20%;
}

body {
  background-color: #ceebc7;
}

.description {
  margin: 0;
  height: 21vh;
  background-image: url("/img/nube.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.description h1 {
  margin: 0%;
}

#fact-button {
  display: flex;
  border-radius: 40px;
  padding: 10px;
  margin: 1rem auto;
  height: 50px;
  font-family: "Caveat";
  font-weight: 700;
  font-size: 20px;
  background-color: #f9bbb9;
  border: 1px solid #000000;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.49);
  border-radius: 8px;
}

main {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#fact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 5rem;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin: auto;
  overflow: auto;
}

#favorites-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 8rem;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0rem 2rem;
  overflow: auto;
}

#favorites-list li {
  margin: 0.3rem;
}

.favorite {
  width: 10%;
}

h2 {
  background-image: url(/img/star.fav.png);
  background-repeat: no-repeat;
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 7rem;
  margin-bottom: 0;
  padding: 30px;
}

footer {
  height: 30%;
  text-align: center;
}
