@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Caveat', cursive;
}

header {
  margin: 1rem;
}

.logo {
  width: 20%;
}

body{
  background-color: #CEEBC7;
}

.description {
  margin:0;
  height: 21vh;
  background-image: url("/img/nube.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.description h1 {
  margin:0%;
}

#fact-button{
  display: block;
  border-radius: 40px;
  max-width: 300px; 
  margin: 2rem auto;
height: 40px;
font-family: 'Caveat';
font-weight: 700;
font-size: 20px;
}

main {
  max-width: 600px;
  margin:0 auto;
  display: flex;
  flex-direction: column;

}

#facts-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 1rem;
  border: 1px solid black; 
  border-radius: 5px; 
}

.favorites-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  border: 1px solid red;
  border-radius: 5px;
}

/* #favorites-list li {
  margin: 1rem;
}

#facts-container li {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
} */

.favorite {
  display: flex;
  color: red;
  cursor: pointer;
}

section {
  margin-bottom: 20px;
} 

h1 {
  text-align: center;
}

footer {
  height: 20%;
  text-align: center;
}
