body {
  background-color: RGB(206, 235, 199);
  width: 100vw;
  height: 100vh;
}

header {
  height: 20%;
}

.logo {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

footer {
  height: 20%;
  text-align: center;
}
